body {
 display: flex;
 align-items: center;
 justify-content: center;
 margin:  auto; 
  
}

h1{
  font-size: 40px;
  color: deeppink;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 300px;
}
input{
  width: 200px;
  height: 20px;
  border-radius: 10px;
  border: solid 0.5px lightpink;
  margin-right: 10px;
}
input.child {
  color: blueviolet;
  justify-content: center;
}
button {
  width: 70px;
  height: 20px;
  border-radius: 8px;
  margin-left: 10px;
  background-color: rgb(117, 117, 222);
  color: white;
  font-size: 8px;
}

h3{
  font: 10px;
  color: #408490;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: auto;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-bottom: 1px sandybrown solid;

}
